[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
filedepot = "*"
flask = "*"
boto3 = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
psycopg2 = "*"
webargs = "*"
marshmallow-jsonapi = "*"
pytest = "*"
pillow = "*"

[requires]
python_version = "3.7"
